{# tutorial/templates/tutorial/people.html #}
<!doctype html>
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load django_tables2 %}
{% bootstrap_css %}
{% load static %}



<html>
    <head>
        <title>Programs </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    
    <body>
        <h2> {% for record in ChamberLogInfo %}
            {{record.pretest_inspection_and_photo}}
            {{record.setup_photo}} 
            {{record.humidity}}
            {{record.system_pressure}}
            {{record.voltage}}
            {{record.system_restriction_target}}
            {{record.system_restriction_record}}
            {{record.trial_run_record_and_process}} 
            {{record.special_requirements}}
            {{record.test_id}}
            {{record.chamber_id}}
            {{record.program_id}}
            {{record.technician_id}}

            {%endfor%}
        </h2>

        {% if filter %}
            <form action="" method="get" class="form-inline">
                {% bootstrap_form filter.form layout='inline'%}
                {% bootstrap_button 'filter' %}
            </form>
        {% endif %}


       
        
        {% load crispy_forms_tags %}

        <h2 class="my-4">Add a new log</h2>

            

            <form action="" method="post">
              {% csrf_token %}
                  {{form}}
                  <button class="btn btn-primary my-4" onclick="clicked(event)" type="submit">Submit</button>
            </form>
        
            <!--Django Model Form-->

            {% render_table table  "django_tables2/bootstrap.html"%} 
        <ol>
            {% for status in page_obj %}
                <li>{{ status }}</li>
            {% endfor %}
        </ol>
        
        

       
        
    </body>
    <script>
        function clicked(e)
                {
                    if(!confirm('Are you sure?')) {
                        e.preventDefault();
                    }
                    popup.classList.remove("open-popup");
                }
    </script>
</html>