<!doctype html>
{% load static %}
<html>
    <head>
        <title>DUT history</title>
    </head>
    
    <body>
        <div>
            History of DUT - {{dut_name}}
        </div>
        <table>
            <tr>
                <th>
                    Test
                </th>
                <th>
                    Hours Ran
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    Location
                </th>
                <th>
                    Accumulated Hours
                </th>
            </tr>
            {% for key, value in test_history.items %}
            <tr>
                <td>
                    {{key}}
                </td>
                <td>
                    {{value.0}}
                </td>
                <td>
                    {{value.2}}
                </td>
                <td>
                    {{value.3}}
                </td>
                <td>
                    {{value.1}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>