{# tutorial/templates/tutorial/people.html #}
<!doctype html>
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load django_tables2 %}
{% bootstrap_css %}

{% bootstrap_javascript %}

<html>
    <head>
        <title>Porgram </title>
        
    </head>
    
    <body>
        <h3> {% for record in Program %}
            <label> Program id:</label>
            {{record.program_id}}
            <br>
            <label> Program Name:</label>
            {{record.program_name}}
            <br>
            <label> Program Status:</label>
            {{record.status}}
            <br>
            {%endfor%}
        </h3>
        

       

            


        
        {% for table in tables %}
        {% render_table table "django_tables2/bootstrap.html" %}
        {% endfor %} 


        
        
            <!--Django Model-->

       
        <script>
            

            function clicked(e)
                {
                    if(!confirm('Are you sure?')) {
                        e.preventDefault();
                    }
                }
            var table, rows
            table = document.getElementsByTagName("table").item(0);
            rows = table.rows;
            for (let i = 1; i < rows.length ; i++){
                x = rows[i].getElementsByTagName("td")[7];
                y = x.getElementsByClassName("btn")[0];
                y.onclick = function clicked(e)
                {
                    if(!confirm('Are you sure?')) {
                        e.preventDefault();
                    }
                };
            }
        </script>
    </body>
</html>