<!doctype html>
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<html>
    <head>
        <title>Edit</title>
        <link rel="stylesheet"  href="{% static 'database/test.css' %}">

        <!-- 引用 Favicon 图标 -->
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon logo.png' %}">
        
        <style>
            body {
                padding-top: 50px; 
            }
            .menu{
                display: flex;
                align-items: center;
                position: fixed;
                width: 100%;
                top: 50px;
                z-index: 1;
            }
            .dropdown{
                display: inline-block;
                width: 20%;
                vertical-align: top;
                position: relative;
            }
            .dropdown-label{
                background-color: #0089c4;
                color: white;
                padding: 5px;
                font-family: sans-serif;
                text-align: center;
            }
            .dropdown-content a{
                display: block;
                color: black;
                padding: 5px;
                text-decoration: none;
                font-family: sans-serif;
                background-color: white;
            }
            .dropdown-content{
                position: absolute;
                width: 100%;
                left: 0;
                display: none;
                z-index: 2;
            }
            .dropdown-content a:hover{
                background-color: #ddd;
            }

            .dropdown:hover .dropdown-content {display: block;}
            .menu-space{height: 35px;}
            .account{
                display: inline-block;
                width: 10%;
                vertical-align: top;
            }

            .top-header {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                position: fixed;
                width: 100%;
                top: 0;
                z-index: 2;
                background-color: #1d3442;
                text-align: left;
                padding: 0;
                height: 50px;
            }

            .header-logo {
                height: 40px;
                width: auto;
                margin-right: 20px;
            }

            .header-title {
                color: white;
                font-size: 24px;
                font-weight: bold;
                line-height: 50px;
            }
        </style>
    </head>
    <body>

        <div class="top-header">
            <a href="{% url 'menu' %}">
                <img src="{% static 'logo.png' %}" alt="Title Image" class="header-logo">
            </a>
            <span class="header-title">GVV Lab Business Process Management System</span>
        </div>

        {%if user.is_authenticated%}
        <div class = "menu-space"></div>
        <div class = "menu">
            <div class="dropdown">
                <div class="dropdown-label">Daily Operations</div>
                <div class="dropdown-content">
                    <a href="{% url 'test' %}">Tests</a>
                    <a href="{% url 'dut' %}">DUTs</a>
                    <a href="{% url 'Harness' %}">Harnesses</a>
                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown-label">Program Information</div>
                <div class="dropdown-content">
                    <a href="{% url 'product' %}">Products</a>
                    <a href="{% url 'program' %}">Programs</a>
                    <a href="{% url 'TestMap' %}">Test Maps</a>
                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown-label">Equipment Information</div>
                <div class="dropdown-content">
                    <a href="{% url 'Chamber' %}">Chambers</a>
                    <a href="{% url 'Dar' %}">DARs</a>
                    <a href="{% url 'cage' %}">Cages</a>
                    <a href="{% url 'Laptop' %}">Laptops</a>
                    <a href="{% url 'Fluid' %}">Test Fluids</a>
                </div>
            </div>
            <div class="dropdown">
                <div class="dropdown-label">Other</div>
                <div class="dropdown-content">
                    <a href="{% url 'Lab' %}">Labs</a>
                    <a href="{% url 'Technician' %}">Technicians</a>
                    <a href="{% url 'TestType' %}">Add new test type</a>
                    <a href="{% url 'hours calculations' %}">Program Hours Calculator</a>
                </div>
            </div>
            <div class = "account">
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'Logout' %}">Logout</a>
                </div>
            </div>
        </div>   
       
        

        {% load crispy_forms_tags %}
        <h2 class="my-4">Update an existing Test</h2>
            
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{form}}
            <button class="btn btn-primary my-4" onclick="submitCheck(event)" type="submit">Submit</button>
        </form>
        <p>
        <a href="{% url 'test' %}">
            <button id ="back">Back to Tests page</button>
        </a>
        </p>

        <div>
            <div class = "notation">
                When entering fields to add or edit a test, some elements of the page may change color:
            </div>
            <div class = "notation">
                <div id="green_box"></div>
                Green highlighted equipment from the above drop-down lists are the compatible equipment for the test, or program.
            </div>
            <div class = "notation">
                <div id="yellow_box"></div>
                Yellow highlighted tests in the mini tables below show the tests that are using one or more of the selected equipment for the specified time period.
            </div>
        </div>
        <center>
            <table id ="chamberschedule">
                <caption id = "chamberschedulecaption">Selected Chamber's Test Schedule</caption>
                <tr>
                    <th>Program</th>
                    <th>Product</th>
                    <th>TR</th>
                    <th>Test</th>
                    <th>Scheduling</th>
                    <th>Targeted start</th>
                    <th>Targeted end</th>
                </tr>
                        
            </table>

            <table id ="darschedule">
                <caption id = "darschedulecaption">Selected DAR's Test Schedule</caption>
                <tr>
                    <th>Program</th>
                    <th>Product</th>
                    <th>TR</th>
                    <th>Test</th>
                    <th>Scheduling</th>
                    <th>Targeted start</th>
                    <th>Targeted end</th>
                </tr>
                        
            </table>

            <table id ="cageschedule">
                <caption id = "cageschedulecaption">Selected Cage's Test Schedule</caption>
                <tr>
                    <th>Program</th>
                    <th>Product</th>
                    <th>TR</th>
                    <th>Test</th>
                    <th>Scheduling</th>
                    <th>Targeted start</th>
                    <th>Targeted end</th>
                </tr>
                        
            </table>
                    
        </center>

        {%else%}
        <div class="nav-item">
            <a class="nav-link" href="{% url 'Login' %}">Login</a>
        </div>
        {%endif%}
        <script>
            
    
            //checking booking time conflicts
            var conflict;
            function checkSchedule() {
                var start, end, booked_start, booked_end, length, rows;
                    
                start = new Date(document.getElementsByName("targeted_start")[0].value);
                end = new Date(document.getElementsByName("targeted_end")[0].value);
    
                if(isNaN(start)||isNaN(end)){
                    return;
                }
    
                conflict = false;
                length = document.getElementById("chamberschedule").rows.length - 1;
    
    
                rows = document.getElementById("chamberschedule").rows;
                for(var i =1; i<= length;i++){
                    try{
                        booked_start = new Date(rows[i].cells[5].innerHTML);
                        booked_end = new Date(rows[i].cells[6].innerHTML);
                        if((start >= booked_start && start <= booked_end) || (end >= booked_start && end <= booked_end) || (start <= booked_start && end >= booked_end)){
                            conflict = true;
                            rows[i].style.backgroundColor = "yellow";
                        }
                        else{
                            rows[i].style.backgroundColor = "white";
                        }
                    }
                    catch{
                        break;
                    }
                }
    
                length = document.getElementById("darschedule").rows.length - 1;
    
                rows = document.getElementById("darschedule").rows;
                for(var i =1; i<= length;i++){
                    try{
                        booked_start = Date.parse(rows[i].cells[5].innerHTML);
                        booked_end = Date.parse(rows[i].cells[6].innerHTML);
                        if((start >= booked_start && start <= booked_end) || (end >= booked_start && end <= booked_end) || (start <= booked_start && end >= booked_end)){
                            conflict = true;
                            rows[i].style.backgroundColor = "yellow";
                        }
                        else{
                            rows[i].style.backgroundColor = "white";
                        }
                    }
                    catch{
                        break;
                    }
                }
    
                length = document.getElementById("cageschedule").rows.length - 1;
    
                rows = document.getElementById("cageschedule").rows;
                for(var i =1; i<= length;i++){
                    try{
                        booked_start = Date.parse(rows[i].cells[5].innerHTML);
                        booked_end = Date.parse(rows[i].cells[6].innerHTML);
                        if((start >= booked_start && start <= booked_end) || (end >= booked_start && end <= booked_end) || (start <= booked_start && end >= booked_end)){
                            conflict = true;
                            rows[i].style.backgroundColor = "yellow";
                        }
                        else{
                            rows[i].style.backgroundColor = "white";
                        }
                    }
                    catch{
                        break;
                    }
                }
            }
                
            function submitCheck(e){
                checkSchedule();
                if (conflict == true){
                    alert("At least one of the equipment selected is booked for another test for the selected time window and is highlighted. You can still add this test if you wish. ");
                }
                if(!confirm('Do you want to add this test?')) {
                    e.preventDefault();
                }
                e.target.submit();
            }
            //end of checking for booking conflicts
    

    
            //checking equipment test bookings
            function getCookie(name) {
                var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = cookies[i].trim();
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                return cookieValue;
            }
    
            function highlight(){
                var csrftoken = getCookie('csrftoken');
                var test_type_id = document.getElementsByName("test_type_id")[0].value;
                fetch("http://127.0.0.1:8000/database/children", {method: "POST", body: test_type_id, headers:{"X-CSRFToken": csrftoken}})
                .then((response)=>
                fetch("http://127.0.0.1:8000/database/getchildren")
                )
                .then(result=> result.json())
                .then(result=>{
                    var keys = Object.keys(result)
                    let prod = document.getElementsByName("chamber_id")[0]
                    let values = prod.getElementsByTagName("option")
                    let int = 0;
                    for (let j = 0; j<values.length;j++){
                        values[j].setAttribute("style","background-color: #ffffff");
                    }
                    for (let i = 0; i<keys.length;i++){
                        for (let j = 0; j<values.length;j++){
                            if (eval(`result.${keys[i]}.chamber_id`) === values[j].value){
                                values[j].setAttribute("style","background-color: #90EE90");
                                int++;
                            }
                        }
                    }
                    if (int === 0){
                        for (let j = 0; j<values.length;j++){
                        values[j].setAttribute("style","background-color: #ffffff");
                    }
                    }
                }
                )
                .catch(()=>{
                    let prod = document.getElementsByName("chamber_id")[0]
                    let values = prod.getElementsByTagName("option")
                    for (let j = 0; j<values.length;j++){
                        values[j].setAttribute("style","background-color: #ffffff");
                    }

                })
            }
            function highlight2(){
                var csrftoken = getCookie('csrftoken');
                var program_id = document.getElementsByName("program_id")[0].value;
                fetch("http://127.0.0.1:8000/database/darchildren", {method: "POST", body: program_id, headers:{"X-CSRFToken": csrftoken}})
                .then((response)=>
                fetch("http://127.0.0.1:8000/database/getdarchildren")
                )
                .then(result=> result.json())
                .then(result=>{
                    var keys = Object.keys(result)
                    let prod = document.getElementsByName("dar_id")[0]
                    let values = prod.getElementsByTagName("option")
                    let prod2 = document.getElementsByName("cage_id")[0]
                    let values2 = prod2.getElementsByTagName("option")
                    let int = 0;
                    let int2 = 0;
                    for (let j = 0; j<values.length;j++){
                        values[j].setAttribute("style","background-color: #ffffff");
                    }
                    for (let j = 0; j<values2.length;j++){
                        values2[j].setAttribute("style","background-color: #ffffff");
                    }
                    for (let i = 0; i<keys.length;i++){
                        if (eval(`result.${keys[i]}.dar_id`) != null){
                            for (let j = 0; j<values.length;j++){
                                if (eval(`result.${keys[i]}.dar_id`) === values[j].value){
                                    values[j].setAttribute("style","background-color: #90EE90");
                                    int++;
                                }
                            }
                        }
                        if (eval(`result.${keys[i]}.cage_id`) != null){
                            for (let j = 0; j<values2.length;j++){
                                if (eval(`result.${keys[i]}.cage_id`) === values2[j].value){
                                    values2[j].setAttribute("style","background-color: #90EE90");
                                    int2++;
                                }
                            }
                        }
                    }
                    if (int === 0){
                        for (let j = 0; j<values.length;j++){
                        values[j].setAttribute("style","background-color: #ffffff");
                    }
                    }
                    if (int2 === 0){
                        for (let j = 0; j<values2.length;j++){
                        values2[j].setAttribute("style","background-color: #ffffff");
                    }
                    }
                }
                )
                .catch(()=>{
                    let prod = document.getElementsByName("dar_id")[0]
                    let values = prod.getElementsByTagName("option")
                    let prod2 = document.getElementsByName("cage_id")[0]
                    let values2 = prod2.getElementsByTagName("option")
                    for (let j = 0; j<values.length;j++){
                        values[j].setAttribute("style","background-color: #ffffff");
                    }
                    for (let j = 0; j<values2.length;j++){
                        values2[j].setAttribute("style","background-color: #ffffff");
                    }

                })
            }
    
            function getChamberSchedule(){
                var chamber_id = document.getElementsByName("chamber_id")[0].value;
                var csrftoken = getCookie('csrftoken');
                
                fetch("http://127.0.0.1:8000/database/chamberschedule", {method: "POST", body: chamber_id, headers:{"X-CSRFToken": csrftoken}})
                .then((response)=>
                fetch("http://127.0.0.1:8000/database/getchamberschedule")
                )
                .then(result=> result.json())
                .then(result=>{
                    var innerHTML, row, program, product, tr, test, targeted_start, targeted_end, status;
                    var keys = Object.keys(result);
                    const schedule = document.getElementById("chamberschedule");
                    schedule.innerHTML = `
                    <caption id = "chamberschedulecaption">${result.chamber}'s Test Schedule</caption>
                    <tr>
                        <th>Program</th>
                        <th>Product</th>
                        <th>TR</th>
                        <th>Test</th>
                        <th>Scheduling</th>
                        <th>Targeted start</th>
                        <th>Targeted end</th>
                    </tr>`;

                    if (keys.length ==1){
                        row = document.createElement("tr");
                        row.innerHTML = "No test scheduled";
                        schedule.appendChild(row);
                    }

                    for (var i = 0; i<keys.length-1;i++){
                        row = document.createElement("tr");
                        row.id = `chamber booking ${i+1}`;
                        program = document.createElement("td");
                        product = document.createElement("td");
                        tr = document.createElement("td");
                        test = document.createElement("td");
                        scheduling = document.createElement("td");
                        targeted_start = document.createElement("td");
                        targeted_end = document.createElement("td");
    
                        program.innerHTML = eval(`result.${keys[i]}.program_id`);
                        product.innerHTML = eval(`result.${keys[i]}.product_id`);
                        tr.innerHTML = eval(`result.${keys[i]}.test_map_id`);
                        test.innerHTML = eval(`result.${keys[i]}.test_type_id`);
                        scheduling.innerHTML = eval(`result.${keys[i]}.scheduling`);    
                        targeted_start.innerHTML = eval(`result.${keys[i]}.targeted_start`);
                        targeted_end.innerHTML = eval(`result.${keys[i]}.targeted_end`);
                        

                        row.appendChild(program);
                        row.appendChild(product);
                        row.appendChild(tr);
                        row.appendChild(test);
                        row.appendChild(scheduling);
                        row.appendChild(targeted_start);
                        row.appendChild(targeted_end);

                        schedule.appendChild(row);
                    }
                })
                .catch(()=>{
                const schedule = document.getElementById("chamberschedule");
                schedule.innerHTML = `
                <caption id = "chamberschedulecaption">Selected Chamber's Test Schedule</caption>
                <tr>
                    <th>Program</th>
                    <th>Product</th>
                    <th>TR</th>
                    <th>Test</th>
                    <th>Scheduling</th>
                    <th>Targeted start</th>
                    <th>Targeted end</th>
                </tr>
                `;})
            }

            function getDARSchedule(){
                var dar_id = document.getElementsByName("dar_id")[0].value;
                var csrftoken = getCookie('csrftoken');
                
                fetch("http://127.0.0.1:8000/database/darschedule", {method: "POST", body: dar_id, headers:{"X-CSRFToken": csrftoken}})
                .then((response)=>
                fetch("http://127.0.0.1:8000/database/getdarschedule")
                )
                .then(result=> result.json())
                .then(result=>{
                    var innerHTML, row, program, product, tr, test, targeted_start, targeted_end, status;
                    var keys = Object.keys(result);
                    const schedule = document.getElementById("darschedule");
                    schedule.innerHTML = `
                    <caption id = "darschedulecaption">${result.DAR}'s Test Schedule</caption>
                    <tr>
                        <th>Program</th>
                        <th>Product</th>
                        <th>TR</th>
                        <th>Test</th>
                        <th>Scheduling</th>
                        <th>Targeted start</th>
                        <th>Targeted end</th>
                    </tr>`;

                    if (keys.length ==1){
                        row = document.createElement("tr");
                        row.innerHTML = "No test scheduled";
                        schedule.appendChild(row);
                    }

                    for (var i = 0; i<keys.length-1;i++){
                        row = document.createElement("tr");
                        row.id = `DAR booking ${i+1}`;
                        program = document.createElement("td");
                        product = document.createElement("td");
                        tr = document.createElement("td");
                        test = document.createElement("td");
                        scheduling = document.createElement("td");
                        targeted_start = document.createElement("td");
                        targeted_end = document.createElement("td");
                        
                        program.innerHTML = eval(`result.${keys[i]}.program_id`);
                        product.innerHTML = eval(`result.${keys[i]}.product_id`);
                        tr.innerHTML = eval(`result.${keys[i]}.test_map_id`);
                        test.innerHTML = eval(`result.${keys[i]}.test_type_id`);
                        scheduling.innerHTML = eval(`result.${keys[i]}.scheduling`);
                        targeted_start.innerHTML = eval(`result.${keys[i]}.targeted_start`);
                        targeted_end.innerHTML = eval(`result.${keys[i]}.targeted_end`);

                        row.appendChild(program);
                        row.appendChild(product);
                        row.appendChild(tr);
                        row.appendChild(test);
                        row.appendChild(scheduling);
                        row.appendChild(targeted_start);
                        row.appendChild(targeted_end);
                        schedule.appendChild(row);
                    }
                })
                .catch(()=>{
                const schedule = document.getElementById("darschedule");
                schedule.innerHTML = `
                <caption id = "darschedulecaption">Selected DAR's Test Schedule</caption>
                <tr>
                    <th>Program</th>
                    <th>Product</th>
                    <th>TR</th>
                    <th>Test</th>
                    <th>Scheduling</th>
                    <th>Targeted start</th>
                    <th>Targeted end</th>
                </tr>
                `;})
            }

            function getCageSchedule(){
                var cage_id = document.getElementsByName("cage_id")[0].value;
                var csrftoken = getCookie('csrftoken');
                
                fetch("http://127.0.0.1:8000/database/cageschedule", {method: "POST", body: cage_id, headers:{"X-CSRFToken": csrftoken}})
                .then((response)=>
                fetch("http://127.0.0.1:8000/database/getcageschedule")
                )
                .then(result=> result.json())
                .then(result=>{
                    var innerHTML, row, program, product, tr, test, targeted_start, targeted_end, status;
                    var keys = Object.keys(result);
                    const schedule = document.getElementById("cageschedule");
                    schedule.innerHTML = `
                    <caption id = "cageschedulecaption">${result.Cage}'s Test Schedule</caption>
                    <tr>
                        <th>Program</th>
                        <th>Product</th>
                        <th>TR</th>
                        <th>Test</th>
                        <th>Scheduling</th>
                        <th>Targeted start</th>
                        <th>Targeted end</th>
                    </tr>`;

                    if (keys.length ==1){
                        row = document.createElement("tr");
                        row.innerHTML = "No test scheduled";
                        schedule.appendChild(row);
                    }

                    for (var i = 0; i<keys.length-1;i++){
                        row = document.createElement("tr");
                        row.id = `cage booking ${i+1}`;
                        program = document.createElement("td");
                        product = document.createElement("td");
                        tr = document.createElement("td");
                        test = document.createElement("td");
                        scheduling = document.createElement("td");
                        targeted_start = document.createElement("td");
                        targeted_end = document.createElement("td");
                        
                        program.innerHTML = eval(`result.${keys[i]}.program_id`);
                        product.innerHTML = eval(`result.${keys[i]}.product_id`);
                        tr.innerHTML = eval(`result.${keys[i]}.test_map_id`);
                        test.innerHTML = eval(`result.${keys[i]}.test_type_id`);
                        scheduling.innerHTML = eval(`result.${keys[i]}.scheduling`);
                        targeted_start.innerHTML = eval(`result.${keys[i]}.targeted_start`);
                        targeted_end.innerHTML = eval(`result.${keys[i]}.targeted_end`);

                        row.appendChild(program);
                        row.appendChild(product);
                        row.appendChild(tr);
                        row.appendChild(test);
                        row.appendChild(scheduling);
                        row.appendChild(targeted_start);
                        row.appendChild(targeted_end);
                        schedule.appendChild(row);
                    }
                })
                .catch(()=>{
                const schedule = document.getElementById("cageschedule");
                schedule.innerHTML = `
                <caption id = "cageschedulecaption">Selected Cage's Test Schedule</caption>
                <tr>
                    <th>Program</th>
                    <th>Product</th>
                    <th>TR</th>
                    <th>Test</th>
                    <th>Scheduling</th>
                    <th>Targeted start</th>
                    <th>Targeted end</th>
                </tr>
                `;})
            }


            

            document.getElementsByName("chamber_id")[0].addEventListener("input", getChamberSchedule);
            document.getElementsByName("dar_id")[0].addEventListener("input", getDARSchedule);
            document.getElementsByName("cage_id")[0].addEventListener("input", getCageSchedule);
            document.getElementsByName("targeted_start")[0].addEventListener("input", checkSchedule);
            document.getElementsByName("targeted_end")[0].addEventListener("input", checkSchedule);
            document.getElementsByName("test_type_id")[0].addEventListener("input", highlight)
            document.getElementsByName("program_id")[0].addEventListener("input", highlight2)
            
            //end of checking equipment test bookings\
            getChamberSchedule();
            getDARSchedule();
            getCageSchedule();

            var label, input, formated_label, formated_input, length, formated_fields, current_fields, th, td, button, children;
         
 
            length = 18;
            formated_fields = document.createElement("table");
            formated_fields.id = "add";
            current_fields = document.getElementsByTagName("form")[0];
            children = current_fields.children;
            current_fields.appendChild(formated_fields);
            formated_label = document.createElement("tr");
            formated_input = document.createElement("tr");
    
            for (var i = 0; i < length; i++) {
                th = document.createElement("th");
                td = document.createElement("td");
                label = children[2 * i + 1].innerHTML;
                input = children[2 * i + 2].cloneNode(true);
                input.id = "add_field"
                th.innerHTML = label;
                td.appendChild(input);
                formated_label.appendChild(th);
                formated_input.appendChild(td);
            }
            button = document.getElementsByTagName("button")[0]
            formated_fields.appendChild(formated_label);
            formated_fields.appendChild(formated_input);
            current_fields.appendChild(button);
    
            for (var i = 0; i < length * 2; i++) {
                children[1].remove();
            }

        </script>
    </body>
</html>
